@model gender.Models.ViewModels.User.ForgotPasswordView
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class='container'>
    <div class='row'>
        <div class='span6'>
            <h3 class='section-header'>
                <i class="icon-user"></i>&nbsp;Восстановление пароля
            </h3>

            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="Email">
                            Email
                        </label>
                        <div class="controls">
                            @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge" })
                            <p class="help-block">Введите Email</p>
                            @Html.ValidationMessage("Email")
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Выслать пароль</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
    <div class='row'>
        <div class="span8">
        </div>

    </div>

</div>