@{
    ViewBag.Title = "Пароль выслан";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class='container'>
    <div class='row'>
        <div class='span6'>
            <h2>На ваш email выслан ваш пароль</h2>
        </div>
    </div>
    <div class='row'>
        <div class="span8">
        </div>
    </div>
</div>
