@model gender.Model.UserEmail

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class='container'>
    <div class='row'>
        <div class='span12'>
            <h3 class='section-header'><i class="icon-user"></i>&nbsp;Регистрация</h3>
        </div>
    </div>
    <div class="white-card">
        На ваш Email(@Model.Email) ушло письмо с активацией.
    </div>
</div>
