@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Страница не найдена</title>
</head>
<body>
    <div>
        Страница не найдена. Она переехала. <a href="/">Вернуться на главную.</a>
    </div>
</body>
</html>
