<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="gender.Model.Properties.Settings.genderConnectionString"
      connectionString="Data Source=SATURN-PC;Initial Catalog=gender;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gender.Model.Properties.Settings.gender_20130905_141859ConnectionString"
      connectionString="Data Source=SATURN-PC;Initial Catalog=gender_20130905_141859;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gender.Model.Properties.Settings.gender_20130910_114858ConnectionString"
      connectionString="Data Source=SATURN-PC;Initial Catalog=gender_20130910_114858;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gender.Model.Properties.Settings.gender_2ConnectionString"
      connectionString="Data Source=SATURN-PC;Initial Catalog=gender_2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gender.Model.Properties.Settings.genderConnectionString1"
      connectionString="Data Source=SATURN\MSSQL;Initial Catalog=gender;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>