@model IEnumerable<gender.Model.Organization>
@{
    var subject = (gender.Model.Subject)ViewBag.Subject;
}
@if (Model.Any())
{
    <h3 class="section-header"><i class="icon-group"></i>&nbsp;Организации</h3>
    <div class="white-card">
        <ul class="icons-gree">
            @foreach (var item in Model)
            {
                <li>
                    <i class="icon-group"></i>&nbsp;<a href="@Url.Action("Item", "Organization", new { url = item.Url })">@item.Name</a>
                </li>
            }
        </ul>
        <a href="@Url.Action("Item", "Subject", new { path = subject.FullUrl })#organization">Еще</a>
    </div>
}