@model gender.Model.Page

<h3 class="section-header"><i class="icon-arrow-right"></i>&nbsp;@Model.Header</h3>
@Html.Raw(Model.Text)
<hr />
<div class="pull-right"><a href="/pages/about">>> Подробнее</a></div>
<div class="clearfix"></div>
