@model gender.Model.Image
<div class="span4 short-item">
    <div class="white-card">
        <div class="img-w hover-fader">
            <a href="@Url.Action("Item", "Image", new { url = Model.Url })">
                <img alt="Photo-card" src="@Model.Path?width=300&height=200&mode=crop&scale=both">
            </a>
        </div>
        <h5><a href="@Url.Action("Item", "Image", new { url = Model.Url })">@Model.Header</a>
        </h5>
        <div class="info">
        <div class="info-item">
            <strong>Темы</strong> :
                @foreach (var subject in Model.SubSubjects)
                {
                     <span><i class="icon-tag gray"></i>&nbsp;@subject.Name</span>
                }
        </div>
        <div class="info-item">
            <strong>&nbsp;Страны и регионы</strong>: 
               @foreach (var region in Model.SubRegions)
               {
                 <span><i class="icon-map-marker gray"></i>&nbsp;@region.Name</span>
               }
        </div>
        </div>
    </div>
</div>

